<p class="center logo2"><img src="/logo.jpg" width="30%"/></p>
<label class="stylist">Stylist Info:</label>
<ul>
  <li class="sNames">$individualStylist.getName()</li>
  <li class="sNames">$individualStylist.getPhone()</li>
</ul>


<a href="/stylists/$individualStylist.getId()/clients/new"><button type="submit" class="btn twelve columns button">Click Here to Add a Client</button></a>



<!-- href="/stylist/$stylist.getId() -->
